*{
    list-style: none;
    text-decoration: none;
}

.mainItem ul{
    padding: 0;
}


.mainItem ul li a{
   
    color: white;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:#ffa500;
    border-radius: .5rem;

}

.mainItem ul li a:active{
    color: red;
}

.faIcons{
    font-size: 2rem;
    margin-bottom: 4px;
}

